.card{
    width: 400px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    border-left: 10px solid blue;
    /*Cantidad de pixeles tipo de color color*/
    padding: 90px 0px 0px 10px;
    margin : 10px;
    /*ajustamos la caja*/
    box-sizing: border-box;

}
.card1{
    width: 825px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    border-left: 10px solid purple;
    /*Cantidad de pixeles tipo de color color*/
    padding: 90px 0px 0px 10px;
    margin : 10px;
    /*ajustamos la caja*/
    box-sizing: border-box;

}
.bloquea{
    display: flex;
    flex-direction: column;



}
.bloqueb{
    display: flex;
    flex-direction: column-reverse;

}
.reverso{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}
.uno{
    background-image: url('../top11.png'); 
    background-size: 100% 100%;
    display: inline-block;

}
.dos{
    background-image: url('../descarga.jpeg'); 
    background-size: 100% 100%;
    display: inline-block;

}
.tres{
    background-image: url('../DevOps.png'); 
    background-size: 100% 100%;
    display: inline-block;
    
}
.cuatro{
    background-image: url('../infrastructure-banner-500x500.png'); 
    background-size: 100% 100%;
    display: inline-block;

}
.cinco{
    background-image: url('../prod-art-aws-600-width-1200.png'); 
    background-size: 100% 100%;
    display: inline-block;

}
.seis{
    background-image: url('../prod-art-aws-600-width-1200.png'); 
    background-size: 100% 100%;
    display: inline-block;

}
.footer{
    position: fixed;

}
.img{
    border-radius: 50px;
    /*obligatorio para que se vea la imagen*/
    width: 75px;
    height: 75px;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;

}