.card{
    width: 1475px;
    height: 200px;
    background-color: beige;
    border-radius: 10px;
    border-left: 10px solid blue;
    /*Cantidad de pixeles tipo de color color*/
    padding: 90px 0px 0px 10px;
    margin : 20px;
    /*ajustamos la caja*/
    box-sizing: border-box;

}
.uno{
    background-image: url('../top11.png'); 
    background-size: 100% 100%;

}
.dos{
    background-image: url('../descarga.jpeg'); 
    background-size: 100% 100%;

}
.tres{
    background-image: url('../DevOps.png'); 
    background-size: 100% 100%;
    
}
.cuatro{
    background-image: url('../infrastructure-banner-500x500.png'); 
    background-size: 100% 100%;

}
.cinco{
    background-image: url('../prod-art-aws-600-width-1200.png'); 
    background-size: 100% 100%;

}