.parrafo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 74, 74);
    text-align: left;
    width: 575px;
    line-height: 2.5;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: lightslategrey;
    text-align: center;
    width: 575px;
    font-weight: bold;
}
.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: lightslategrey;
    text-align: center;
    width: 575px;
    font-weight: bold;
}
