.card {
  border-radius: 10px;
  border-left: 10px solid pink;
  padding: 20px;
  box-shadow: 0 0 8px 0 rgba(144,149,161,.15);
  width: 500px;
  /*Para que este en todas las clases*/
  font-family: 'Nunito', sans-serif;
}

.avatar {
  border-radius: 50px;
  background-image: url(../Selección_006.png);
  /*obligatorio para que se vea la imagen*/
  width: 55px;
  height: 55px;
  background-size: cover;
}

.titulo{
  color: #ECB8CE;
  font-weight: bold;

}

.parrafo{
  color: #5F6478;

}
.nombre{
  color: #5F6478;

}
.pretitulo{
  color: #AFB3C0;

}
.span{
  font-weight: bold;

}
