body{
    background-color: #fafafa;

}
.navbar{
    /*queremos que todos los hijos esten uno al lado del otro*/
    display:flex;
    background-color: #ffffff;
    border-radius: 10px;
    /*4 posiciones top right bottom left color*/
    box-shadow: 0px 0px 10px 0px black;
    /*El alto importa el numero el largo le ponemos el completo de la pantalla*/
    height: 70px;
    width: 100%;
    /*esto es para que este uno a cada lado de la pantalla*/
    justify-content: space-between;
    /*centrado verticalmente*/
    align-items: center;
    /*Espacio entre los objetos*/
    padding: 0px 26px;
    /*para que no se vaya del width por la sumatoria del tamaño, padding, margin, etc*/
    box-sizing: border-box;

}
.logo{
    height: 30px;
    width: auto;

}
.lista{
    display: flex;
    list-style: none;

}
.items{
    margin-left: 26px;
    /*se aprovecha el padding y solamente se pone a la izq para que no este tan lejos
    y si este a 26px*/

}