:root{
    --main-color: #ff0000;
  
  }
.caja1{
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    margin: 5px;

}
.caja2{
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    margin: 5px;

}
.caja3{
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    margin: 5px;

}
/*
.caja{
    width: 500px;
    height: 500px;
    background-color: red

}
/*
@media(max-width: 1024px){
    .caja{
        height: 100px;
        width: 100px;
    }
}
*/
@media(min-width: 1024px){
    .caja{
        height: 500px;
        width: 500px;
    }
}