
/*concatenacion*/
#parrafo1,#parrafo2{
    color: plum;

}
.parrafo{
    color: plum;

}
/*Adyacente*/
.parrafo + p{
    color: plum;
}
/*Selector de hijos*/
.contenedor > p{
    color:plum;
}
/*hermanos*/
.parrafo1 ~ p{
    color:plum;
    
}
